
<div class="col-lg-10" *ngIf="identity && identity.role == 'ADMIN'">

  <h1>{{page_title}}</h1>
  
  <div *ngIf="alert">
      <div class="alert alert-info" role="alert">
        <strong>Listo</strong> {{alert}}
      </div>
  </div>
  
  
  <form #addAlbumForm ="ngForm" (ngSubmit)="onSubmit()" class="col-md-6">
      <p>
          <label>Titulo:</label>
          <input type="text" #title='ngModel' name ="title" [(ngModel)]="album.title" class="form-control" required />
          <span *ngIf="!title.valid && title.touched">
              El Titulo es requerido
          </span>
      </p>
  
      <p>
            <label>Descripcion:</label>
            <textarea type="text" #description='ngModel' name ="description" [(ngModel)]="album.description" class="form-control" required ></textarea>
            <span *ngIf="!description.valid && description.touched">
                La descripcion es requerida
            </span>   
      </p>

      <p>
        <label>Anio:</label>
        <input type="number" #anio='ngModel' name ="anio" [(ngModel)]="album.year" class="form-control" required />
        <span *ngIf="!anio.valid && anio.touched">
            El anio es requerido
        </span>   
      </p>
  
  
      <div id="divEditImage" *ngIf="is_edit" >


        <div class="album_image_for_edit" *ngIf="album.image && album.image != 'null'">
              <img src="{{url+'get-image-album/'+album.image}}" />
        </div>
  
        <div id="optUpload">
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">Album Cover</span>
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="fileChangeEvent($event)" name="image">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                      </div>
         </div>
  
      </div>
  
      <input id="btnForm" type="submit" value="{{page_title}}" [disabled]="!addAlbumForm.form.valid" class="btn btn-secondary"/>
  
  
  </form>
  
  </div>
  
  <div *ngIf="!identity && identity.role != 'ADMIN'">
      <h1>Error</h1>
      <p>No tienes acceso a esta pagina</p>
  </div>
