<div class="head-page">

    <h1>{{title}}</h1>
    <a  [routerLink]="['/create_artist/0']" *ngIf="identity && identity.role == 'ADMIN'" class="btn btn-default">
        Agregar Artista
     </a>

</div>

<div class="clear-fix"></div>
<ul class="artist-list" *ngIf="identity">

    <li *ngFor="let artist of artists" class="colg-lg-3 artist-item">

        <div class="artist-image">
            <img src="{{url + 'get-image-artist/'+ artist.image}}">
        </div>

        <div class="artist-name">
            <a [routerLink]="['/artista',artist._id]">
                    {{artist.name}}
            </a>    

            <div class="buttons" *ngIf="identity.role == 'ADMIN'">
                    <a [routerLink]="['/create_artist',artist._id]" class="btn btn-secondary">Editar</a>
                   <!-- <a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger">Borrar</a> -->
                   <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"(click)="this.removeId=artist._id">
                        Eliminar
                      </button>
                </div>
        </div>
    </li>
</ul>
<br>
<br>

<nav >
<ul class="pagination pagination-lg">
        <li class="page-item"><a class="page-link" [routerLink]="['/artists',prev_page]">&laquo;</a></li>
        <li class="page-item"><a class="page-link" [routerLink]="['/artists',next_page]">&raquo;</a></li>
</ul>
</nav>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar Artista</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Estas seguro de eliminar este artista ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <a (click)="onDeleteArtist()" class="btn btn-danger" data-dismiss="modal" >Eliminar</a>
            </div>
          </div>
        </div>
      </div>
