.artist-list{

margin: 0px;
padding: 0px;
margin-top: 30px;
list-style: none;
display: flex;

}

.artist-item{
    width: 23%;
    margin: 0px;
    padding: 0px;
    height: 317px;
    border: 1px solid #444;
    margin-left: 20px;
    margin-top: 20px;
}

.artist-item .artist-image{

    height: 245px;
    width: 100%;
    overflow: hidden;
}

.artist-item .artist-image img{
    width: 100%
    
}

.artist-item .artist-name {
    color: white;
    padding: 10px;
    background: #222326;
}

.artist-item .artist-name a{
    color: white;
}

.pagination{
    margin-top: 15px;
    margin-left: 15px;
}

.seguro{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    position: absolute;

}
.buttons{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-top: 5px;
}

.head-page{
 display: grid;
 grid-template-columns: 5fr 1fr;
 margin-left: 20px;

}

.addArtist{
    margin:auto;
}

.btn-secondary{
    background-color: #55af00
}