section{
    height: 100%;
}

.main{
    display: flex;
}

.head-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}

.active{
    border-bottom: 4px solid #84bd00;
    padding-bottom: 4px
}


.side__menu{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    background: #1c1c1f;
    justify-content: space-between;
}

.side__menu h1, .side__menu h1 a{
    margin: 0;
}

.navigation{
    text-align: center;
    color: aliceblue;
    background: #1c1c1f;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navigation a{
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.navigation a:hover{
    color: white;
}

.navigation .fas{
    font-size: 25px;
    display: block;
    width: 100%;
}

#user_logged{
    text-decoration: center;
    background: #1c1c1f;
    border-top: 2px solid #444;
}

#image_logged{
    background: eee;
    border-radius: 100px;
    height: 57px;
    width: 57px;
    margin: 0px auto;
    margin-top: 15px;
    overflow: hidden;
}


.btn-logout{
    cursor: pointer;
}

