<div class="main">

    <div id="head">

         <div id="divImage">
                 <img src="{{url + 'get-image-artist/'+ artist.image}}" *ngIf="artist.image" >
         </div>

        <div id="divInfo">
            <h1>{{artist.name}}</h1>
            <p class="description">{{artist.description}}</p>
            <div id="divButtom"><a [routerLink] = "['/create_album',artist._id]"  *ngIf="identity.role == 'ADMIN' " class="btn btn-secondary">Anadir Album</a></div>
        </div>

    </div>

    <div id="gallery-albums" *ngIf="albums"></div>

</div>