<div class="col-lg-10" *ngIf="identity && identity.role == 'ADMIN'">

<h1>{{title}}</h1>

<div *ngIf="alert">
    <div class="alert alert-info" role="alert">
      <strong>Listo</strong> {{alert}}
    </div>
</div>


<form #addArtistForm ="ngForm" (ngSubmit)="onSubmit()" class="col-md-6">
    <p>
        <label>Nombre:</label>
        <input type="text" #name='ngModel' name ="name" [(ngModel)]="artist.name" class="form-control" required />
        <span *ngIf="!name.valid && name.touched">
            El nombre es requerido
        </span>
    </p>

    <p>
          <label>Descripcion:</label>
          <textarea type="text" #description='ngModel' name ="description" [(ngModel)]="artist.description" class="form-control" required ></textarea>
          <span *ngIf="!description.valid && description.touched">
              La descripcion es requerida
          </span>   
    </p>


    <div *ngIf="is_edit" >
        <div class="artist_image_for_edit" *ngIf="artist.image && artist.image != 'null'">
            <img src="{{url+'get-image-artist/' +artist.image}}" />
        </div>

        <p>
            <label for="image">Sube la imagen del artista</label>
            <input type="file" placeholder="Subir Imagen" name="image" id="image" (change)="fileChangeEvent($event)">
        </p>
 

    </div>

    <input type="submit" value="{{title}}" [disabled]="!addArtistForm.form.valid" class="btn btn-secondary"/>


</form>

</div>

<div *ngIf="!identity && identity.role != 'ADMIN'">
    <h1>Error</h1>
    <p>No tienes acceso a esta pagina</p>
</div>